ignore-engines=true
audit-level=high
fund=false
# Ignore specific vulnerabilities by their IDs
# GHSA-rp65-9cf3-cjxr - nth-check
# GHSA-7fh5-64p2-3v2j - postcss
# GHSA-76p7-773f-r4q5 - serialize-javascript
audit-ignore=GHSA-rp65-9cf3-cjxr GHSA-7fh5-64p2-3v2j GHSA-76p7-773f-r4q5 